<aside class="col-lg-3">
  <!-- Search -->
  <form role="search" action="<%= url_for("/guides/#{current_platform}/#{current_guide_version}/search.json") %>" onsubmit="return false">
    <div class="form-group">
      <input type="text" class="form-control form-control-brand tt-input"
             placeholder="Search Guides" data-typeahead>
      <img class="tt-spinner" src="<%= image_path('shared/spinner.gif') %>">
    </div>
  </form>

  <% categories = guide_categories.map {|c| [c, guide_pages(c)]} %>

  <!-- TOC Desktop -->
  <div class="d-none d-lg-block">
    <ol class="nav nav-toc">
      <% categories.each do |c, pages| %>
        <% if pages.present? %>
          <li class="nav-item <%= 'active in' if current_page.path.match(c) %>">
            <a href="#" class="nav-link nav-link-brand" data-toggle="toc">
              <%= guide_category_title(c) %>
            </a>
              <ol class="nav nav-toc <%= 'active in' if current_page.path.match(c) %>">
              <% pages.each do |p| %>
                <li class="nav-item <%= 'active' if p == current_page %>">
                  <a href="<%= p.url %>" class="nav-link nav-link-brand"><%= p.data.title %></a>
                </li>
              <% end %>
              </ol>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <!-- TOC Mobile -->
  <div class="d-lg-none mb-3">
    <select class="form-control" data-toc-mobile>
      <% categories.each do |c, pages| %>
        <% if pages.present? %>
          <optgroup label="<%= c.titleize %>">
            <% pages.each do |p| %>
              <option <%= 'selected' if p == current_page %> value="<%= p.url %>">
                <%= p.data.title %>
              </option>
            <% end %>
          </optgroup>
        <% end %>
      <% end %>
    </select>
  </div>
</aside>
