---
title: Work with us at PSPDFKit
description: Work here is challenging, but you'll absolutely love it
priority: 1.0
---

<%= partial 'nav_sub' %>

<div class="container">

  <!-- Header -->
  <div class="row mb-4">
    <div class="col-12 text-center">
      <header>
        <h1>Careers</h1>
        <p class="lead">
          Work with a <a href="/blog/2017/what-cultural-diversity-means-to-us/" class="link-brand">diverse</a>, fully <a href="/blog/2018/how-to-use-slack-and-not-go-crazy/" class="link-brand">remote</a> <a href="/about" class="link-brand">team</a>, manage<br> <a href="/blog/2019/eight-hours-work/" class="link-brand">your own time</a>, and tackle <a href="/blog/2018/self-sizing-table-view-cells/" class="link-brand">interesting</a> problems.<br>
          We meet up <a href="https://instagram.com/pspdfkit/" class="link-brand">on biannual retreats around the world.</a>
        </p>
      </header>
    </div>
  </div>

  <!-- Jobs -->
  <div class="row justify-content-center mb-5">
    <div class="col-lg-8">
      <% blog('careers').articles.each do |j| %>
        <a href="/careers/<%= j.title.parameterize %>" class="card card-sm card-hoverable mb-5">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-8 mb-4 mb-sm-0">
                <h4><%= j.title %></h4>
                <p class="text-muted mb-2"><%= j.data[:department] %> – <%= j.data[:location] %></p>
                <p class="small mb-0"><%= strip_tags(j.summary(130).gsub(/Job\ Description/, '')) %></p>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-block btn-brand">Apply</button>
              </div>
            </div>
          </div>
        </a>
      <% end %>

      <div class="text-center">
        <p class="lead">
          Interested in working with us, but don’t see your position?<br>
          <a href="mailto:careers@pspdfkit.com" class="link-brand">We’re always open to working with great people.</a>
        </p>
      </div>

      <div class="text-muted text-center">
        <%= partial 'postscript' %>
      </div>
    </div>

    <!-- Blog Posts -->
    <div class="text-center mb-4">
      <h2>Learn More About How We Work</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <%= partial 'blog/preview_md', collection: custom_articles([
            '/blog/2019/how-we-work/',
            '/blog/2019/my-first-pspdfkit-retreat/',
            '/blog/2019/remote-work-what-ive-learned/',
            '/blog/2019/how-pspdfkit-succeeds-at-being-a-remote-company/',
            '/blog/2019/eight-hours-introduction/',
            '/blog/2018/onboarding-new-engineers/'
            ]) %>
        </div>
      </div>
    </div>
  </div>
</div>
