---
directory_index: false
---

<% wrap_layout :layout do %>

  <%= partial 'careers/nav_sub' %>

  <div class="container">

    <!-- Header -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <header>
          <h1><%= current_article.title %></h1>
          <p class="lead mb-0">
            <%= current_article.data[:department] %> &mdash;
            <%= current_article.data[:location] %>
          </p>
        </header>
      </div>
    </div>

    <!-- Job -->
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <%= yield %>
            <hr />
            <%= partial 'careers/postscript' %>
            <hr />
            <a href="mailto:careers@pspdfkit.com?subject=Re: <%= current_article.title %>" class="btn btn-lg btn-brand">
              Apply for This Position
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
