<section id="features" class="section bg-neutral-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <header class="text-center mb-5">
          <h6 class="text-brand"><%= subtitle %></h6>
          <h2><%= title %></h2>
        </header>
      </div>
    </div>
    <div class="row justify-content-center">
      <% items.each do |item| %>
        <div class="col-6 col-sm-4 col-lg-3 mb-4">
          <p class="text-center mb-3">
            <img src="/images/shared/placeholder.gif" data-src="<%= item[:icon] %>" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
          </p>
          <h3 class="h5"><%= item[:title] %></h3>
          <p class="small"><%= item[:body] %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
