---
title: Integrating PSPDFKit Using Carthage
section: developers
order: 3
---

<% if ios? %>

<div class="alert alert-warning">
<p><b>ℹ️ Note:</b> PSPDFKit 9 for iOS migrated to XCFrameworks to offer better cross-platform support. <a href="https://github.com/Carthage/Carthage/issues/2799">Carthage does not yet support XCFrameworks</a>. This may result in errors saying “Incompatible Swift version” when using an Xcode version different from what PSPDFKit was built with. If you see this error, or if you need Mac Catalyst support, use the <a href="../../getting-started/integrating-pspdfkit/">manual integration</a>.</p>
</div>
<% end %>

PSPDFKit is available via Carthage. If you’re new to Carthage, check out the [documentation][carthage readme] first.

## Important

- Please don’t follow our [manual integration guide][] if you’re using Carthage. Do not use `strip-framework.sh` or other scripts, as they are not necessary when using Carthage and will prevent your project from working.
- Please make sure you have Carthage version >= 0.19 installed. You can check your Carthage version with `carthage version`.
- Nightly builds are currently not supported in Carthage.

PSPDFKit is a commercial framework. As such, you get a unique Carthage URL specific to your license or trial. You can find your Carthage URL in our [customer portal][] by choosing the Use Carthage tab when downloading PSPDFKit. If you are currently evaluating PSPDFKit, you first need a trial license, which you can obtain by clicking on the [trial button on our website][pspdfkit trial]. Follow the instructions in the email to get the URL specific to your trial. To purchase a license, please contact [our sales team][pspdfkit contact sales].

Below you will find more information on what you have to add to your `Cartfile` (Carthage URLs use the same secret key as CocoaPods).

### Use the Version Compatible With:

```
binary "https://customers.pspdfkit.com/carthage/YOUR_COCOAPODS_KEY_GOES_HERE/PSPDFKit.json" ~> <%= macos? ? '1.2' : '6.4' %>
```

Using the above Carthage will download a PSPDFKit version compatible with <%= macos? ? '1.2' : '6.4' %>. Compatibility is determined according to [Semantic Versioning][]. This means that any version greater than or equal to <%= macos? ? '1.2' : '6.4' %>, but less than <%= macos? ? '2.0' : '7.0' %>, will be considered compatible with <%= macos? ? '1.2' : '6.4' %>.

### Use a Specific Version:

```
binary "https://customers.pspdfkit.com/carthage/YOUR_COCOAPODS_KEY_GOES_HERE/PSPDFKit.json" == <%= macos? ? '1.2.1' : '6.4.0' %>
```

Using the above Carthage will download PSPDFKit version <%= macos? ? '1.2.1' : '6.4.0' %>.

### Use the Latest Version:

```
binary "https://customers.pspdfkit.com/carthage/YOUR_COCOAPODS_KEY_GOES_HERE/PSPDFKit.json" >= <%= macos? ? '1.2' : '6.4' %>
```

Using the above Carthage will download the latest PSPDFKit version.

Follow the instructions in the [Carthage documentation][carthage integration instructions] to finish the integration.

[carthage readme]: https://github.com/Carthage/Carthage/blob/master/README.md
[manual integration guide]: ../../getting-started/integrating-pspdfkit/
[semantic versioning]: http://semver.org
[carthage integration instructions]: https://github.com/Carthage/Carthage/blob/master/README.md#if-youre-building-for-ios-tvos-or-watchos
[pspdfkit contact sales]: https://pspdfkit.com/sales
