---
title: Digital Signatures
title_suffix: PSPDFKit for iOS
platform: ios
section: sdk
---

<%= partial 'shared/nav_sub' %>

<!-- Videos -->
<%= partial 'shared/product_videos', locals: {
  title: "PDF Digital Signatures",
  subtitle: "PSPDFKit for iOS",
  body: "A digital signature is an electronic fingerprint, uniquely identifying the signing person. <a href='/guides/ios/current/features/digital-signatures/' class='link-brand'>Learn more about this feature in our guides.</a>",
  items: [
    {
      title: 'Digital Signatures',
      url: '/images/pdf-sdk/ios/digital-signatures/digital-signatures.mp4'
    }
  ]
} %>

<!-- Documentation -->
<%= partial 'shared/product_documentation', locals: {
  title: 'Digital Signatures',
  url: '/guides/ios/current/features/digital-signatures/'
} %>

<!-- Try PDF Viewer -->
<%= partial 'shared/product_try_viewer', locals: {
  image: '/images/pdf-sdk/ios/viewer/try.png',
  device: 'phone_ios'
} %>

<!-- Sales CTA -->
<%= partial 'shared/cta_sales', locals: { title: 'PSPDFKit for iOS' } %>
