---
title: PSPDFKit for Electron
title_suffix: false
description: By enabling first-class Electron support, the PSPDFKit for Web experience is now available on all desktop platforms
platform: electron
section: sdk
---

<div class="content-backdrop bg-brand"></div>

<%= partial 'shared/nav_sub', locals: {
  items: %w(Overview Features Integration Get-Started)
} %>

<!-- Hero -->
<%= partial 'shared/hero', locals: {
  title: "Add PDF Support to Your Electron Apps",
  subtitle: "PSPDFKit for Electron",
  body: "Deliver a great cross-platform PDF experience on macOS, Windows, and Linux.",
  button_text: "Download Trial",
  button_url: "/try/",
} %>

<!-- Headlines -->
<%= partial 'shared/headlines', locals: {
  title: "Drop-In Support for Advanced PDF Features",
  items: [
    {
      title: "Powerful Features",
      body: "Fast rendering, easy navigation, and intuitive annotation tools.",
      icon: "/images/icons/customizable.svg",
      link_text: "Explore Features",
      link_url: "#features",
    },
    {
      title: "Cross-platform",
      body: "Optimized for a great experience across macOS, Windows, and Linux.",
      icon: "/images/icons/cross-platform.svg",
      link_text: "Learn More",
      link_url: "#cross-platform",
    },
    {
      title: "Easy to Integrate",
      body: "Integrate with just a few lines of code. Customize with an extensive API.",
      icon: "/images/icons/documentation.svg",
      link_text: "View Examples",
      link_url: "#integration",
    }
  ]
} %>

<!-- Features -->
<%= partial 'shared/product_features', locals: {
  items: [
    {
      title: "PDF Viewing",
      icon: "/images/pdf-sdk/electron/view.svg",
      icon_size: 20,
      image: "/images/pdf-sdk/electron/view.png",
      body: "
        A fast and smooth viewing experience — even with large documents.
        Supports both single- and double-page layouts and page rotation.
        Intuitive document navigation via scrolling, pagination, pan, and zoom.
      "
    },
    {
      title: "Forms",
      icon: "/images/pdf-sdk/electron/forms.svg",
      image: "/images/pdf-sdk/electron/forms.png",
      body: "
        Full support for PDF AcroForms, so your users can view, fill out, and
        submit forms with ease.
      ",
    },
    {
      title: "Document Editor",
      icon: "/images/pdf-sdk/electron/document-editor.svg",
      icon_size: 35,
      image: "/images/pdf-sdk/electron/document-editor.png",
      body: "
        The Document Editor comes with its own convenient UI for page manipulation,
        making it easy to add, duplicate, rotate, reorder, delete, and import pages.
        It's backed by a powerful API, enabling you to build your own custom tools
        on top of it as well.
      ",
      new: true
    },
    {
      title: "Text Highlighting",
      icon: "/images/pdf-sdk/electron/highlight.svg",
      image: "/images/pdf-sdk/electron/highlight.png",
      body: "
        Easily mark up text on a document via an intuitive highlight menu
        with support for highlighting, strikethrough, and underlining.
      "
    },
    {
      title: "Freehand Drawing",
      icon: "/images/pdf-sdk/electron/ink.svg",
      image: "/images/pdf-sdk/electron/ink.png",
      body: "
        Draw anywhere on a document. Move and resize, and change appearance —
        including color, thickness, and opacity.
      "
    },
    {
      title: "Text Annotation",
      icon: "/images/pdf-sdk/electron/text.svg",
      image: "/images/pdf-sdk/electron/text.png",
      body: "
        Add text anywhere on a document. Move and resize, and change appearance –
        including font, size, alignment, and color.
      "
    },
    {
      title: "Note Annotation",
      icon: "/images/pdf-sdk/electron/note.svg",
      image: "/images/pdf-sdk/electron/note.png",
      body: "
        Add longer comments, which can be collapsed or expanded, to a document.
        Change appearance with a variety of shapes and colors.
      "
    },
    {
      title: "Image Annotations",
      icon: "/images/pdf-sdk/electron/image.svg",
      image: "/images/pdf-sdk/electron/image.png",
      body: "
        Easily attach, move, and resize JPEG and PNG images in a PDF document.
        Use PDFs as image annotations to have vector graphics support.
      "
    },
    {
      title: "Stamp Annotations",
      icon: "/images/pdf-sdk/electron/stamp.svg",
      image: "/images/pdf-sdk/electron/stamp.png",
      body: "
        Place stamps on a PDF with our predefined stamp templates, or let your users
        create their own using the stamp annotation builder UI. Easily swap out the
        default stamp templates with your own.
      "
    },
    {
      title: "Search",
      icon: "/images/pdf-sdk/electron/search.svg",
      image: "/images/pdf-sdk/electron/search.png",
      body: "
        Quickly search documents with a fluid and fast search experience,
        including intuitive keyboard shortcuts for power users.
      "
    },
    {
      title: "Sidebar",
      icon: "/images/pdf-sdk/electron/sidebar.svg",
      image: "/images/pdf-sdk/electron/sidebar.png",
      body: "
        Choose from four sidebar options — Thumbnails, Outline, Annotations, or
        Bookmarks — to get an overview of the content in a document. Show and hide
        the sidebar at any time, resize it, or expand it into a full gallery view.
      "
    },
    {
      title: "Localization",
      icon: "/images/pdf-sdk/electron/localization.svg",
      image: "/images/pdf-sdk/electron/localization.png",
      body: "
        Built-in support for 27 languages, with the ability to add and customize localization
        and change locale at runtime.
      "
    },
    {
      title: "Printing",
      icon: "/images/pdf-sdk/electron/print.svg",
      image: "/images/pdf-sdk/electron/print.png",
      body: "
        Print and export documents, including all annotations. Use the system
        print dialog to allow for full control of the output.
      "
    }
  ]
} %>

<!-- Cross-platform -->
<%= partial 'shared/cross_platform', locals: {
  title: "Cross-platform",
  body: "
    <strong>PSPDFKit for Electron</strong> is optimized for a great experience across
    macOS, Windows, and Linux. It offers the best of both worlds: the speed and stability
    of our C++ PSPDFKit Core running natively, and the flexibility and features of our
    <a href='/pdf-sdk/web/' class='link-brand'>Web SDK UI</a>.
  ",
} %>

<!-- Customers -->
<%= partial 'shared/customers', locals: { classes: "py-3 mb-0" } %>

<!-- Integration -->
<%= partial 'shared/integration', locals: {
  title: "Using PSPDFKit",
  subtitle: "Integration",
  body: "
    <strong>PSPDFKit</strong> can be integrated with just a few lines of code,<br />
    and it comes with a rich API, which allows for complete customization.
  ",
} %>

<!-- Try CTA -->
<%= partial 'shared/cta_try' %>

<!-- Blog Posts -->
<%= partial 'shared/blog_posts', locals: { title: 'Latest Updates', posts: tagged_articles('Electron') } %>
