<%
size ||= 40
authors = [article.data.author].flatten
author_urls = [article.data.author_url].flatten
authors = authors.compact.zip(author_urls) if authors.present?
%>

<% if authors.present? %>
  <div class="d-flex flex-wrap justify-content-center">
    <% authors.each do |a| %>
      <a href="<%= a.last %>" class="btn btn-sm btn-light btn-avatar mx-4 mb-4">
        <img
          src="<%= "/images/people/#{a.first.parameterize}.jpg" %>"
          class="btn-avatar-img rounded-circle"
          width="<%= size %>"
          height="<%= size %>">
        <%= a.first %>
      </a>
    <% end %>
  </div>
<% end %>
