<%
sites = [
  { key: 'twitter', name: 'Twitter', url: 'https://twitter.com/intent/tweet?url=' },
  { key: 'facebook', name: 'Facebook', url: 'https://www.facebook.com/sharer/sharer.php?u=' },
  { key: 'linkedin', name: 'LinkedIn', url: 'https://www.linkedin.com/shareArticle?mini=true&url=' },
]
%>

<aside>
  <% sites.each do |s| %>
    <a href="<%= s[:url] %><%= config[:url_root] %><%= current_article.url
     %>&via=pspdfkit&text=<%= current_article.title %>" target="_blank" rel="noopener" class="btn btn-sm btn-sm-icon btn-info ml-1 mb-2">
      <i class="fa fa-<%= s[:key] %>"></i>
    </a>
  <% end %>
</aside>
