---
title: Blog
section: blog
description: The latest news & updates from our team
---

<%= partial 'nav_sub' %>

<div class="container">

  <!-- Header -->
  <header class="text-center mb-3 mb-sm-5">
    <h1>Inside PSPDFKit</h1>
    <p class="lead mb-0">
      The latest news &amp; updates from our team
    </p>
  </header>

  <!-- Featured Articles -->
  <% featured_articles.each_slice(2) do |row| %>
    <div class="row">
      <%= partial 'preview_lg', collection: row %>
    </div>
  <% end %>

  <!-- Categories -->
  <% %w(Products Development Design Company Customers).each do |t| %>
    <div class="d-flex align-items-center mt-3 mb-4">
      <h3 class="mb-0">
        <%= t.titleize %>
      </h3>
      <a href="<%= "/blog/categories/#{t.parameterize}" %>" class="small text-muted ml-auto">
        <span class="d-none d-md-block">
          More from <strong><%= t.titleize %></strong>
          <i class="fa fa-arrow-right"></i>
        </span>
        <span class="d-md-none">
          <strong>More</strong>
          <i class="fa fa-arrow-right"></i>
        </span>
      </a>
    </div>
    <div class="row">
      <%= partial 'preview_md', collection: tagged_articles(t, 3, exclude: featured_articles) %>
    </div>
  <% end %>

</div>

<!-- Viewer CTA -->
<%= partial 'shared/cta_viewer' %>
