---
directory_index: false
---

<% wrap_layout :layout do %>

  <!-- Nav -->
  <%= partial 'blog/nav_sub' %>

  <!-- Content -->
  <section>
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="col-lg-10">
          <header class="text-center">
            <h1 class="display-4 pt-0 pb-4">
              <%= punctuate current_article.title %>
            </h1>
            <% if current_article.data.secret %>
              <div class="badge badge-danger mb-5">
                This is a secret URL preview of an unreleased article.
              </div>
            <% end %>
            <%= partial 'blog/avatars', locals: { article: current_article } %>
          </header>
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-lg-9">
          <% if current_article.data.preview_video.present? %>
            <video src="<%= current_article.data.preview_video %>" loop muted playsinline data-controller="video" data-video-autoplay="true" class="img-fluid rounded sh-2"></video>
          <% else %>
            <img src="<%= current_article.data.preview_image %>" alt="" class="img-fluid rounded sh-2">
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <% article_public_tags(current_article).each do |t| %>
                <a href="/blog/categories/<%= t.parameterize %>" class="btn btn-sm btn-info mr-1 mb-2"><%= t %></a>
              <% end %>
            </div>
            <%= partial 'blog/share', article: current_article %>
          </div>
          <article class="article article-blog">
            <%= current_article.body %>
          </article>
          <%= partial "blog/#{article_cta(current_article)}" %>
        </div>
      </div>
    </div>
  </section>

  <!-- Related Articles -->
  <section class="section">
    <% related = related_articles(current_article) %>
    <% if related.count > 1 %>
      <div class="container">
        <header class="text-center my-5">
          <h2>Related Articles</h2>
        </header>
        <div class="row">
          <% related.each do |a| %>
            <%= partial 'blog/preview_md', locals: { article: a } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>

<% end %>
