<% classes ||= "" %>

<!-- Sub Nav -->
<div class="nav-sub is-sticky <%= classes %>" data-controller="sticky-nav smooth-scroll" data-action="scroll@window->sticky-nav#scroll">
  <div class="container">
    <nav class="nav-breadcrumb breadcrumb">
      <%= breadcrumbs(current_page, (defined?(tagname) ? tagname : nil), (defined?(year) ? year : nil)) %>
    </nav>
    <% if defined? items %>
      <a class="nav-link nav-toggle collapsed" href="#" data-toggle="collapse" data-target="#nav-sub-collapse">
        <i class="fa fa-xl fa-angle-down"></i>
        <i class="fa fa-xl fa-angle-up"></i>
      </a>
      <ul id="nav-sub-collapse" class="nav-collapse collapse">
        <% items.each do |i| %>
          <% if i.is_a?(Hash) %>
            <li class="nav-item">
              <a class="nav-link nav-link-brand
                <%= 'active' if current_page.url == i[:url] %>" href="<%= i[:url] %>">
                <%= i[:title] %>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link nav-link-brand" href="#<%= i.parameterize %>">
                <%= i.gsub('-', ' ') %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
