<!-- Desktop -->
<nav class="nav-bar nav-bar-desktop">

  <!-- Brand -->
  <a class="nav-brand" href="/">
    <img src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="50" height="50">
  </a>

  <!-- Left -->
  <ul class="nav-block nav-block-first">

    <!-- Home -->
    <li class="nav-item <%= 'active' if active_section?('home') %>">
      <a class="nav-link" href="/">Home</a>
    </li>

    <!-- SDK -->
    <li class="nav-item nav-item-brand dropdown <%= 'active' if active_section?('sdk') %>">
      <a class="nav-link dropdown-toggle" href="/pdf-sdk/" data-toggle="dropdown">
        SDK
      </a>

      <!-- Dropdown -->
      <div class="dropdown-menu nav-dropdown nav-dropdown-left">
        <div class="dropdown-arrow"></div>
        <div class="dropdown-block">
          <div class="row">

            <!-- Left -->
            <div class="col-6">

              <!-- iOS -->
              <a class="dropdown-item d-flex flex-row align-items-center" href="/pdf-sdk/ios/">
                <div class="media-object mr-4">
                  <i class="fa fa-xl fa-ios text-ios"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for iOS</h4>
                  <p class="media-text small my-0">
                    for iOS 11+
                  </p>
                </div>
              </a>

              <!-- Web -->
              <a class="dropdown-item d-flex flex-row align-items-center" href="/pdf-sdk/web/">
                <div class="media-object mr-4">
                  <i class="fa fa-xl fa-web text-web"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Web</h4>
                  <p class="media-text small my-0">
                    for modern browsers
                  </p>
                </div>
              </a>

            </div>

            <!-- Right -->
            <div class="col-6">

              <!-- Android -->
              <a class="dropdown-item d-flex flex-row align-items-center" href="/pdf-sdk/android/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-android text-android"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Android</h4>
                  <p class="media-text small my-0">
                    for Android 4.4+
                  </p>
                </div>
              </a>

              <!-- Windows -->
              <a class="dropdown-item d-flex flex-row align-items-center" href="/pdf-sdk/windows/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-windows text-windows"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Windows</h4>
                  <p class="media-text small my-0">
                    for Windows 10
                  </p>
                </div>
              </a>

            </div>
          </div>
        </div>

        <!-- SDKs -->
        <div class="dropdown-footer text-right">
          <a class="small" href="/pdf-sdk/">
            All our SDK products <i class="fa fa-arrow-right ml-1"></i>
          </a>
        </div>
      </div>
    </li>

    <!-- Instant -->
    <li class="nav-item nav-item-brand <%= 'active' if active_section?('instant') %>">
      <a class="nav-link" href="/instant/">
        Instant
      </a>
    </li>

    <!-- Blog -->
    <li class="nav-item <%= 'active' if active_section?('blog') %>">
      <a class="nav-link" href="/blog/">
        Blog
      </a>
    </li>

    <!-- Developers -->
    <li class="nav-item nav-item-brand dropdown <%= 'active' if active_section?('developers') %>">
      <a class="nav-link dropdown-toggle" href="/developers/" data-toggle="dropdown">
        Developers
      </a>

      <!-- Dropdown -->
      <div class="dropdown-menu nav-dropdown nav-dropdown-center">
        <div class="dropdown-arrow"></div>
        <div class="dropdown-block">
          <div class="row">

            <!-- Left -->
            <div class="col-6">

              <!-- iOS -->
              <div class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-ios text-ios"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for iOS</h4>
                  <p class="media-text small my-0">
                    <a href="/guides/ios/">Guides</a> •
                    <a href="/api/ios/">API</a> •
                    <a href="/changelog/ios/">Changelog</a>
                  </p>
                </div>
              </div>

              <!-- Web -->
              <div class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-web text-web"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Web</h4>
                  <p class="media-text small my-0">
                    <a href="/guides/web/">Guides</a> •
                    <a href="/api/web/">API</a> •
                    <a href="/changelog/web/">Changelog</a>
                  </p>
                </div>
              </div>

              <hr />

              <!-- Support -->
              <a href="/support/request/" class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-mail text-muted"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">Contact Support</h4>
                  <p class="media-text small my-0">
                    We're happy to help with any questions about our products.
                  </p>
                </div>
              </a>
            </div>

            <!-- Right -->
            <div class="col-6">

              <!-- Android -->
              <div class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-android text-android"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Android</h4>
                  <p class="media-text small my-0">
                    <a href="/guides/android/">Guides</a> •
                    <a href="/api/android/">API</a> •
                    <a href="/changelog/android/">Changelog</a>
                  </p>
                </div>
              </div>

              <!-- Windows -->
              <div class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-windows text-windows"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">PSPDFKit for Windows</h4>
                  <p class="media-text small my-0">
                    <a href="/guides/windows/">Guides</a> •
                    <a href="/api/windows/">API</a> •
                    <a href="/changelog/windows/">Changelog</a>
                  </p>
                </div>
              </div>

              <hr />

              <!-- Customer Portal -->
              <a href="https://customers.pspdfkit.com/" class="dropdown-item d-flex flex-row">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-exit text-muted"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-title">Customer Portal</h4>
                  <p class="media-text small my-0">
                    Manage your products and licenses here.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Developer Portal -->
        <div class="dropdown-footer text-right">
          <a class="small" href="/developers/">
            Developer Portal <i class="fa fa-arrow-right ml-1"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <!-- Right -->
  <ul class="nav-block nav-block-last">

    <!-- Download Trial -->
    <li class="nav-item">
      <a class="nav-link nav-btn" href="/try/">
        <span class="d-block d-lg-none">Download</span>
        <span class="d-none d-lg-block">Download Trial</span>
      </a>
    </li>

    <!-- Contact Sales -->
    <li class="nav-item">
      <a class="nav-link nav-btn nav-btn-brand" href="/sales/">
        <span class="d-block d-lg-none">Contact</span>
        <span class="d-none d-lg-block">Contact Sales</span>
      </a>
    </li>
  </ul>

</nav>
