<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <header class="text-center">
          <h6 class="text-brand"><%= subtitle %></h6>
          <h1><%= title %></h1>
        </header>
        <p class="mb-0">
          <%= body %>
        </p>
      </div>
    </div>
    <div class="row justify-content-center pt-1" data-controller="video-switcher">
      <div class="col-lg-10 mb-4">
        <% items.each do |i| %>
          <div class="video-player rounded sh-3 <%= 'hidden' unless i == items.first %>"
               data-video="<%= i[:title].parameterize %>" data-target="video-switcher.video">
            <video src="<%= i[:url] %>" poster="<%= i[:url].gsub('.mp4', '.jpg') %>" width="100%" playsinline muted preload="metadata"></video>
          </div>
        <% end %>
      </div>
      <% if items.count > 1 %>
        <div class="col-12 text-center mt-4">
          <div class="btn-group flex-column flex-md-row sh-2">
            <% items.each do |i| %>
              <button type="button" class="btn btn-md btn-inverse-brand <%= 'active' if i == items.first %>"
                      data-target="video-switcher.button" data-action="click->video-switcher#change">
                  <%= i[:title] %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
