<section class="section pb-0">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2>Component Features</h2>
      </div>
    </div>
  </div>
  <% items.each_with_index do |i, index| %>
    <% even = index % 2 == 0 %>
    <div class="section <%= 'bg-neutral-dark' if even %>">
      <div class="container">
        <div class="row align-items-center <%= 'flex-row-reverse' if even %>">
          <div class="col-md-6 px-lg-5 mb-5 mb-md-0">
            <img src="/images/shared/placeholder.gif" data-src="<%= i[:image] %>" alt="<%= i[:title] %>" class="img-fluid lazyload sh-2" loading="lazy">
          </div>
          <div class="col-md-6 px-lg-5">
            <h3>
              <%= i[:title] %>
              <% if i[:new] %>
                <span class="badge badge-pill badge-brand">New</span>
              <% end %>
            </h3>
            <p class="mb-0">
              <%= i[:body] %>
            </p>
            <% if i[:link] %>
              <p class="mt-2">
                <i class="fa fa-<%= i[:link_icon] || "arrow-right" %> mr-1"></i>
                <a href="<%= i[:link] %>" class="link-brand">
                  <%= i[:link_text] || "Learn more" %>
                </a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
