<%
items = [
  {
    body: "PSPDFKit handles all the heavy lifting involved in viewing and annotating PDF files. Thank you for such a wonderful product!",
    author: "Ben Kraus",
    role: "Mobile Team",
    twitter: "https://twitter.com/kraustifer",
    company: "Instructure",
    website: "https://www.instructure.com/"
  },
  {
    body: "We really appreciate how responsive the PSPDFKit team is. It's a great solution that's easy to use and includes timely and helpful customer support.",
    author: "Mallory Paine",
    role: "Head of iOS",
    twitter: "https://twitter.com/mallorypaine",
    company: "Box",
    website: "http://www.box.com/",
    platform: "ios"
  },
  {
    body: "PSPDFKit is clearly the best choice for PDF on iOS. It’s a solid framework, which I don’t hesitate to recommend.",
    author: "Max Seelemann",
    role: "Founder & CTO",
    twitter: "https://twitter.com/macguru17",
    company: "Ulysses",
    website: "https://www.ulyssesapp.com/",
    platform: "ios"
  },
  {
    body: "The Windows UWP product has evolved fairly quickly and just in time for Directorpoint. It has been an absolute pleasure - especially the great customer support!",
    author: "Russ Fustino",
    role: "President",
    twitter: "https://twitter.com/russfustino",
    company: "Fustino Brothers",
    website: "http://www.fustinobrothers.com/",
    platform: "windows"
  },
  {
    body: "What we really appreciate with PSPDFKit is the polish of this product. A great amount of time has been spent on the details.",
    author: "Martin Destagnol",
    role: "Head of Mobile Engineering",
    twitter: "https://twitter.com/mdestagnol",
    company: "Box",
    website: "http://www.box.com/"
  },
  {
    body: "PSPDFKit lets us focus on developing the best handwriting experience on iPad while supporting many PDF features without much work.",
    author: "Steven Chan",
    role: "Founder & CEO",
    twitter: "https://twitter.com/stevnchan",
    company: "GoodNotes",
    website: "http://www.goodnotesapp.com/",
    platform: "ios"
  },
  {
    body: "PSPDFKit has allowed us to stop worrying about PDF and helped us focus on making Papers a great document and reference manager.",
    author: "Matias Piipari",
    role: "Founder & CEO",
    twitter: "https://twitter.com/mz2",
    company: "Papers",
    website: "https://www.readcube.com/papers/",
    platform: "ios"
  },
].select {|i| i[:platform] == current_platform || i[:platform].nil? }.take(3)
%>

<section class="section bg-neutral-dark pb-4 pb-lg-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <% items.each do |i| %>
        <div class="col-12 col-lg-4">
          <blockquote class="blockquote">
            <div class="row">
              <div class="col-md-8 col-lg-12">
                <p class="text-center text-md-left">
                  &ldquo;<%= i[:body] %>&rdquo;
                </p>
              </div>
              <div class="col-md-4 col-lg-12">
                <footer class="blockquote-footer d-flex text-nowrap justify-content-center justify-content-md-start">
                    <a href="<%= i[:twitter] %>">
                      <img src="/images/shared/placeholder.gif"
                           data-src="/images/people/<%= i[:author].parameterize %>.jpg"
                           class="rounded-circle sh-1 lazyload"
                           loading="lazy"
                           width="80"
                           alt="<%= i[:author] %>">
                    </a>
                    <div class="ml-3">
                      <%= i[:author] %><br />
                      <em><%= i[:role] %></em><br />
                      <a href="<%= i[:website] %>">
                        <%= i[:company] %>
                      </a>
                    </div>
                </footer>
              </div>
            </div>
          </blockquote>
          <% unless i == items.last %>
            <hr class="my-4 d-lg-none">
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
