---
title: A Complete PDF Solution You Can Rely On
description: PSPDFKit is the best framework for working with PDF files. Our SDK provides first-rate PDF solutions for your application with features like annotating, signing, and form filling. We power successful projects for businesses across the globe.
skip_breadcrumb: true
priority: 1.0
section: home
---

<!-- Hero -->
<section class="hero hero-home">
  <!-- Mobile -->
  <div class="d-md-none">
    <div class="hero-carousel carousel-slide" data-controller="carousel-slide">
      <div class="carousel-viewport">
        <ul class="carousel-items" data-target="carousel-slide.scroller">
          <li class="carousel-item" data-target="carousel-slide.item">
            <a href="/pdf-sdk/ios">
              <img
                src="/images/home/device-ipadpro129.png"
                alt="PSPDFKit for iOS"
                class="img-fluid"
              />
            </a>
          </li>
          <li class="carousel-item" data-target="carousel-slide.item">
            <a href="/pdf-sdk/windows">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/device-xps13.png"
                alt="PSPDFKit for Windows"
                class="img-fluid lazyload"
                loading="lazy"
              />
            </a>
          </li>
          <li class="carousel-item" data-target="carousel-slide.item">
            <a href="/pdf-sdk/android">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/device-pixelc-android.png"
                alt="PSPDFKit for Android"
                class="img-fluid lazyload"
                loading="lazy"
              />
            </a>
          </li>
          <li class="carousel-item" data-target="carousel-slide.item">
            <a href="/pdf-sdk/web">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/device-pixelc-web.png"
                alt="PSPDFKit for Web"
                class="img-fluid lazyload"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Desktop -->
  <div class="d-none d-md-block">
    <div class="hero-img"></div>
  </div>

  <!-- Headline -->
  <div class="hero-body">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xl-6">
          <h1>
            A Complete PDF Solution You Can Rely On
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p>
            PSPDFKit is the best framework for working with PDF files. Our
            SDK provides first-rate PDF solutions for your application
            with features like annotating, signing, and form filling. We
            power successful projects for businesses across the globe.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Logos -->
  <div class="hero-footer">
    <div class="container">
      <div class="carousel-logos" data-controller="carousel-fade">
        <ul class="carousel-items" data-target="carousel-fade.items">
          <li class="carousel-item" data-target="carousel-fade.item">
            <img
              src="/images/home/logo-plangrid.svg"
              alt="PlanGrid"
              height="65"
            />
            <img
              src="/images/home/logo-disney.svg"
              alt="Disney"
              height="65"
            />
            <img
              src="/images/home/logo-docusign.svg"
              alt="DocuSign"
              height="65"
            />
          </li>
          <li class="carousel-item" data-target="carousel-fade.item">
            <img
              src="/images/home/logo-dropbox.svg"
              alt="Dropbox"
              height="65"
            />
            <img src="/images/home/logo-ibm.svg" alt="IBM" height="65" />
            <img
              src="/images/home/logo-lufthansa.svg"
              alt="Lufthansa"
              height="65"
            />
          </li>
          <li class="carousel-item" data-target="carousel-fade.item">
            <img
              src="/images/home/logo-mercedes-benz.svg"
              alt="Mercedes Benz"
              height="65"
            />
            <img src="/images/home/logo-sap.svg" alt="SAP" height="65" />
            <img
              src="/images/home/logo-siemens.svg"
              alt="Siemens"
              height="65"
            />
          </li>
          <li class="carousel-item" data-target="carousel-fade.item">
            <img
              src="/images/home/logo-united-airlines.svg"
              alt="United Airlines"
              height="65"
            />
            <img
              src="/images/home/logo-bluebeam.svg"
              alt="Bluebeam"
              height="65"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="bg-neutral-darker py-4">
  <div class="container py-1">
    <div class="row align-items-center justify-content-center mb-3">
      <div class="col-lg-4 text-center text-lg-right">
        <h2 class="h4 my-0 mb-3 mb-lg-0">
          Try PSPDFKit in Your App Today
        </h2>
      </div>
      <div class="col-lg-8">
        <form
          id="try-now-form-cta-<%= page_slug %>"
          class="d-flex flex-column flex-md-row"
          action="<%= LICENSE_API_URL %>trial_request"
          method="post"
          data-controller="form-remote"
          data-form-remote-client-id-name="trial_request[gclid]"
          data-form-remote-success-url="/try/thanks"
          data-form-remote-recaptcha-site-key="<%= GOOGLE_RECAPTCHA_SITE_KEY %>"
          data-form-remote-recaptcha-action="trial_form_homepage"
          data-action="submit->form-remote#submit">

          <!-- reCAPTCHA -->
          <input type="hidden"
            data-target="form-remote.recaptchaInput"
            name="trial_request[recaptcha_response]"
            value="">

          <!-- Email -->
          <input
            type="email"
            id="trial_request_email"
            class="form-control form-control-brand mr-3 mb-3 mb-md-0 sh-1 border-0"
            name="trial_request[email]"
            data-target="form-remote.email"
            size="45"
            placeholder="name@company.com"
            required>

          <!-- Submit -->
          <button
            type="submit"
            name="button"
            class="btn btn-brand px-5 py-3 sh-1 text-nowrap"
            data-target="form-remote.submit">
            Download Trial
            <i class="fa fa-arrow-right"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="small text-muted mb-0">
          The data you submit is treated confidentially and will never be disclosed to third parties.<br>
          We may occasionally send you product news and important announcements.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Platforms -->
<section class="pt-5 pt-lg-8">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8">
        <h2 class="h1 mt-0">
          All Platforms Supported
        </h2>
        <p class="lead">
          Build on a modern tech stack that integrates tightly with the
          platform you're working on. We continuously improve our products and
          they gain new features every month. We grow with you as your
          requirements change and your project evolves.
        </p>
      </div>
    </div>

    <% platforms = {
      "ios" => {
        url: "/pdf-sdk/ios",
        code_example: "home/code_example_ios.md",
        links: {
          api_documentation: "/api/ios",
          guide_articles: "/guides/ios",
          example_projects: "/guides/ios/current/getting-started/example-projects",
          release_notes: "/changelog/ios",
          demo_app: "https://pdfviewer.io/store-ios",
          download_trial: "/try"
        }
      },
      "android" => {
        url: "/pdf-sdk/android",
        code_example: "home/code_example_android.md",
        links: {
          api_documentation: "/api/android",
          guide_articles: "/guides/android",
          example_projects: "/guides/android/current/getting-started/example-projects",
          release_notes: "/changelog/android",
          demo_app: "https://pdfviewer.io/store-android",
          download_trial: "/try"
        }
      },
      "web" => {
        url: "/pdf-sdk/web",
        code_example: "home/code_example_web.md",
        links: {
          api_documentation: "/api/web",
          guide_articles: "/guides/web",
          example_projects: "/guides/web/current/pspdfkit-for-web/example-projects/",
          release_notes: "/changelog/web",
          demo_app: "https://web-examples.pspdfkit.com",
          download_trial: "/try"
        }
      },
      "windows" => {
        url: "/pdf-sdk/windows",
        code_example: "home/code_example_windows.md",
        links: {
          api_documentation: "/api/windows",
          guide_articles: "/guides/windows",
          release_notes: "/changelog/windows",
          download_trial: "/try"
        }
      },
      "electron" => {
        url: "/pdf-sdk/electron",
        code_example: "home/code_example_electron.md",
        links: {
          api_documentation: "/api/web",
          guide_articles: "/guides/web/current/pspdfkit-for-electron/getting-started",
          release_notes: "/changelog/web",
          demo_app: "https://web-examples.pspdfkit.com",
          download_trial: "/try"
        }
      },
      "docker" => {
        url: "/guides/server/current/pspdfkit-server/overview",
        code_example: "home/code_example_docker.md",
        links: {
          api_documentation: "/guides/server/current/server-api",
          guide_articles: "/guides/server",
          example_projects: "/guides/server/current/pspdfkit-server/example-projects",
          release_notes: "/changelog/server",
          download_trial: "/try"
        }
      },
      "xamarin" => {
        url: "/guides/ios/current/other-languages/xamarin",
        code_example: "home/code_example_xamarin.md",
        links: {
          guide_articles: "/guides/ios/current/other-languages/xamarin",
          release_notes: "https://github.com/PSPDFKit/Xamarin-iOS/releases",
          github_project: "https://github.com/PSPDFKit/Xamarin-iOS",
          download_trial: "/try"
        }
      },
      "cordova" => {
        url: "/guides/ios/current/other-languages/apache-cordova-phonegap",
        code_example: "home/code_example_cordova.md",
        links: {
          guide_articles: "/guides/ios/current/other-languages/apache-cordova-phonegap",
          release_notes: "https://github.com/PSPDFKit/PSPDFKit-Cordova/releases",
          github_project: "https://github.com/PSPDFKit/PSPDFKit-Cordova",
          download_trial: "/try"
        }
      },
      "react-native" => {
        url: "/guides/ios/current/other-languages/react-native",
        code_example: "home/code_example_react_native.md",
        links: {
          guide_articles: "/guides/ios/current/other-languages/react-native",
          release_notes: "https://github.com/PSPDFKit/react-native/releases",
          github_project: "https://github.com/PSPDFKit/react-native",
          download_trial: "/try"
        }
      }
    } %>

    <!-- Mobile -->
    <div class="d-lg-none">
      <div class="card-flip" data-controller="flip tabs" data-action="popstate@window->tabs#back popstate@window->flip#back">
        <div class="card-surface" data-target="flip.surface">
          <!-- Front -->
          <div class="card-front">
            <div class="card text-center">
              <div class="card-header">
                <h3 class="h4 text-white mb-0">PSPDFKit Platforms</h3>
              </div>
              <div class="card-body">
                <% platforms.each_slice(3) do |row| %>
                  <div class="row">
                    <% row.each do |platform, meta| %>
                      <div class="col-4">
                        <a href="#<%= platform %>" class="link-fa" data-target="tabs.tab" data-action="tabs#show flip#show">
                          <img
                            src="/images/shared/placeholder.gif"
                            data-src="/images/logos/<%= platform %>.svg"
                            class="mb-2 lazyload"
                            loading="lazy"
                          />
                          <br />
                          <span class="medium text-muted">
                            <%= platform_name(platform) %>
                          </span>
                        </a>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="card-footer bg-neutral-dark text-neutral-muted">
                Pick a platform for more information.
              </div>
            </div>
          </div>

          <!-- Back -->
          <div class="card-back">
            <div class="card">
              <% platforms.each do |platform, data| %>
                <div id="<%= platform %>" class="card-pane" data-target="tabs.pane">
                  <div class="card-header justify-content-between">
                    <a class="text-medium" data-action="flip#back">
                      <i class="fa fa-arrow-left"></i>
                      Back
                    </a>
                    <h3 class="h4 mb-0">
                      <%= platform_name(platform) %>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div class="list-group list-group-flush list-group-actions">
                      <% data[:links].each do |title, url| %>
                        <a href="<%= url %>" class="list-group-item list-group-item-action <%= "list-group-item-action-primary" if title == :download_trial %>">
                          <%= title.to_s.titleize %>
                        </a>
                      <% end %>
                    </div>
                  </div>
                  <a href="<%= data[:url] %>" class="card-footer bg-neutral-dark align-items-start btn-block">
                    <p class="small text-neutral-muted mb-1">
                      PSPDFKit for <%= platform_name(platform) %>
                    </p>
                    <span class="btn btn-link">
                      Product Page
                      <i class="fa fa-arrow-right"></i>
                    </span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Desktop -->
    <div class="d-none d-lg-block" data-controller="tabs" data-action="popstate@window->tabs#back">
      <ul class="nav nav-tabs nav-tabs-cards mb-4">
        <% platforms.each do |platform, data| %>
          <li class="nav-item">
            <a class="nav-link nav-link-<%= platform %>" href="#<%= platform %>" data-action="tabs#show" data-target="tabs.tab">
              <img src="/images/logos/<%= platform %>.svg" class="mb-2" /><br />
              <span class="medium">
                <%= platform_name(platform) %>
              </span>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% platforms.each do |platform, data| %>
          <div id="<%= platform %>" class="tab-pane" data-target="tabs.pane">
            <div class="card sh-2 overflow-hidden">
              <div class="card-header bg-brand text-white card-header-has-code-tabs">
                <h3 class="h4 mb-0">
                  Integrating PSPDFKit for <%= platform_name(platform) %>
                </h3>
              </div>
              <div class="card-body p-0">
                <div class="row no-gutters">
                  <div class="col-9">
                    <%= partial data[:code_example] %>
                  </div>
                  <div class="col-3">
                    <div
                      class="bg-neutral-dark d-flex flex-column h-100 justify-content-between align-items-end text-right"
                    >
                      <div class="list-group list-group-borderless list-group-actions m-1 m-xl-3">
                        <% data[:links].each do |title, url| %>
                          <a href="<%= url %>" class="list-group-item list-group-item-action <%= "list-group-item-action-primary" if title == :download_trial %>">
                            <%= title.to_s.titleize %>
                            <i class="fa fa-arrow-right"></i>
                          </a>
                        <% end %>
                      </div>
                      <a href="<%= data[:url] %>" class="bg-neutral-darker w-100 py-2 px-4 btn-block">
                        <p class="small text-neutral-muted mb-0">
                          PSPDFKit for <%= platform_name(platform) %>
                        </p>
                        <span class="btn btn-link">
                          Product Page
                          <i class="fa fa-arrow-right"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</section>

<!-- Developers -->
<section class="py-5 py-lg-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mt-0">Developers First</h2>
        <p>
          Our meticulously designed APIs make it easy to meet your
          project’s requirements. A wide array of configuration options
          means you can customize our SDKs to provide the functionality
          you need. Add our product to your app’s dependencies and be up
          and running right away.
        </p>
        <a href="/try" class="btn btn-brand px-5 d-none d-md-inline-block sh-1">
          Download Trial
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <ul class="list-checklist mb-4 mb-md-0">
          <li>
            Example code for fast integration
          </li>
          <li>
            Easy to extend and fully customizable
          </li>
          <li>
            Modern technology stack
          </li>
          <li>
            World-class documentation
          </li>
          <li>
            Always improving
          </li>
        </ul>
        <a href="/try" class="btn btn-brand btn-block-fluid px-5 d-md-none">
          Download Trial
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- UI -->
<section class="bg-neutral-dark py-5 py-lg-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mt-0 d-md-none">
          Best User Interface
        </h2>
        <div class="carousel carousel-stack" data-controller="carousel-stack">
          <ul class="carousel-items" data-target="carousel-stack.items">
            <li class="carousel-item sh-2" data-step="0" data-target="carousel-stack.item">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/ui-ios.png"
                alt=""
                class="img-fluid lazyload"
                loading="lazy"
              />
            </li>
            <li class="carousel-item sh-2" data-step="1" data-target="carousel-stack.item">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/ui-android.png"
                alt=""
                class="img-fluid lazyload"
                loading="lazy"
              />
            </li>
            <li class="carousel-item sh-2" data-step="2" data-target="carousel-stack.item">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/ui-web.png"
                alt=""
                class="img-fluid lazyload"
                loading="lazy"
              />
            </li>
            <li class="carousel-item sh-2" data-step="3" data-target="carousel-stack.item">
              <img
                src="/images/shared/placeholder.gif"
                data-src="/images/home/ui-windows.png"
                alt=""
                class="img-fluid lazyload"
                loading="lazy"
                />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-5 offset-xl-1">
        <h2 class="mt-0 d-none d-md-block">
          Best User Interface
        </h2>
        <p>
          We designed PSPDFKit with a modern interface that looks and
          works great out of the box. Our UI is highly configurable and
          comes with sensible defaults and full theming support to ensure
          you deliver a seamless experience to your end users.
        </p>
        <a href="/pdf-sdk" class="btn btn-brand btn-block-fluid px-5 sh-1">
          See For Yourself
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Support -->
<section class="pt-5 pt-lg-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mt-0">
          Technical Support
        </h2>
        <p>
          If you ever need assistance, you get direct access to the
          engineers who built the product. Whether you have questions
          getting started or you want to know how to best integrate new
          SDK features into your app, we’re here to help you find a
          solution.
        </p>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <ul class="list-checklist mb-4">
          <li>
            Direct line to the engineers
          </li>
          <li>
            Fast response time
          </li>
          <li>
            Comprehensive example projects
          </li>
          <li>
            Flexible licensing options
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Case Studies -->
<section class="pt-5 pt-lg-8 overflow-hidden">
  <div class="container">
    <div class="carousel-slide" data-controller="carousel-slide">
      <div class="card card-quote sh-2">
        <div class="carousel-viewport">
          <ul class="carousel-items" data-target="carousel-slide.scroller">
            <!-- CMiC -->
            <li class="carousel-item" data-target="carousel-slide.item">
              <div class="row no-gutters align-items-center">
                <div class="card-left col-lg-5 d-none d-lg-block">
                  <img
                    src="/images/shared/placeholder.gif"
                    data-src="/images/home/case-study-cmic.jpg"
                    alt=""
                    class="card-img card-img-left lazyload"
                    loading="lazy"
                  />
                </div>
                <div class="card-right col-lg-7 d-flex flex-column align-content-between">
                  <div class="card-body pt-4 pb-0 px-lg-5">
                    <blockquote class="blockquote mb-0">
                      <p class="d-lg-none">
                        <img
                          src="/images/shared/placeholder.gif"
                          data-src="/images/home/logo-cmic-color.svg"
                          alt=""
                          class="lazyload"
                          loading="lazy"
                        />
                      </p>
                      <p class="mb-0 mb-md-3">
                        The quality of the product is extremely high, and we
                        know it will handle just about anything we throw at
                        it.
                      </p>
                      <hr class="my-3 d-lg-none" />
                      <footer class="blockquote-footer">
                        <p class="text-medium mb-0">Steve Cangiano</p>
                        <p class="small text-muted mb-0">
                          Product Manager at CMiC
                        </p>
                      </footer>
                    </blockquote>
                  </div>
                  <div class="card-footer py-3 px-lg-5">
                    <div class="d-flex justify-content-end justify-content-lg-start">
                      <a href="/blog/2018/customer-spotlight-cmic" class="btn btn-link">
                        Read the Case Study
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- DocuSign -->
            <li class="carousel-item" data-target="carousel-slide.item">
              <div class="row no-gutters align-items-center">
                <div class="card-left col-lg-5 d-none d-lg-block">
                  <img
                    src="/images/shared/placeholder.gif"
                    data-src="/images/home/case-study-docusign.jpg"
                    alt=""
                    class="card-img card-img-left lazyload"
                    loading="lazy"
                  />
                </div>
                <div class="card-right col-lg-7 d-flex flex-column align-content-between">
                  <div class="card-body pt-4 pb-0 px-lg-5">
                    <blockquote class="blockquote mb-0">
                      <p class="d-lg-none">
                        <img
                          src="/images/shared/placeholder.gif"
                          data-src="/images/home/logo-docusign-color.svg"
                          alt=""
                          class="lazyload"
                          loading="lazy"
                        />
                      </p>
                      <p class="mb-0 mb-md-3">
                        Our team can focus on implementing the features
                        specific to the DocuSign business domain while
                        leaving the handling of PDFs to the experts.
                      </p>
                      <hr class="my-3 d-lg-none" />
                      <footer class="blockquote-footer">
                        <p class="text-medium mb-0">Kiran Kaza</p>
                        <p class="small text-muted mb-0">
                          Head of Mobile Engineering at DocuSign
                        </p>
                      </footer>
                    </blockquote>
                  </div>
                  <div class="card-footer py-3 px-lg-5">
                    <div class="d-flex justify-content-end justify-content-lg-start">
                      <a href="/blog/2018/customer-spotlight-docusign" class="btn btn-link">
                        Read the Case Study
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Scanbot -->
            <li class="carousel-item" data-target="carousel-slide.item">
              <div class="row no-gutters align-items-center">
                <div class="card-left col-lg-5 d-none d-lg-block">
                  <img
                    src="/images/shared/placeholder.gif"
                    data-src="/images/home/case-study-scanbot.jpg"
                    alt=""
                    class="card-img card-img-left lazyload"
                    loading="lazy"
                  />
                </div>
                <div class="card-right col-lg-7 d-flex flex-column align-content-between">
                  <div class="card-body pt-4 pb-0 px-lg-5">
                    <blockquote class="blockquote mb-0">
                      <p class="d-lg-none">
                        <img
                          src="/images/shared/placeholder.gif"
                          data-src="/images/home/logo-scanbot-color.svg"
                          alt=""
                          class="lazyload"
                          loading="lazy"
                        />
                      </p>
                      <p class="mb-0 mb-md-3">
                        The outstanding customer support provided by
                        PSPDFKit with their quick response and update times
                        never ceases to amaze us.
                      </p>
                      <hr class="my-3 d-lg-none" />
                      <footer class="blockquote-footer">
                        <p class="text-medium mb-0">Max Stratmann</p>
                        <p class="small text-muted mb-0">
                          Head of Operations at Scanbot
                        </p>
                      </footer>
                    </blockquote>
                  </div>
                  <div class="card-footer py-3 px-lg-5">
                    <div class="d-flex justify-content-end justify-content-lg-start">
                      <a href="/blog/2018/customer-spotlight-scanbot" class="btn btn-link">
                        Read the Case Study
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- DB Systel -->
            <li class="carousel-item" data-target="carousel-slide.item">
              <div class="row no-gutters align-items-center">
                <div class="card-left col-lg-5 d-none d-lg-block">
                  <img
                    src="/images/shared/placeholder.gif"
                    data-src="/images/home/case-study-db-systel.jpg"
                    alt=""
                    class="card-img card-img-left lazyload"
                    loading="lazy"
                  />
                </div>
                <div class="card-right col-lg-7 d-flex flex-column align-content-between">
                  <div class="card-body pt-4 pb-0 px-lg-5">
                    <blockquote class="blockquote mb-0">
                      <p class="d-lg-none">
                        <img
                          src="/images/shared/placeholder.gif"
                          data-src="/images/home/logo-db-systel-color.svg"
                          alt=""
                          class="lazyload"
                          loading="lazy"
                        />
                      </p>
                      <p class="mb-0 mb-md-3">
                        We have been able to hit our deadlines and deliver features on time and to
                        the satisfaction of our internal customer. It was a pleasure to work with PSPDFKit.
                      </p>
                      <hr class="my-3 d-lg-none" />
                      <footer class="blockquote-footer">
                        <p class="text-medium mb-0">Kilian Schäfer</p>
                        <p class="small text-muted mb-0">
                          Mobile Solutions Consultant, DB Systel
                        </p>
                      </footer>
                    </blockquote>
                  </div>
                  <div class="card-footer py-3 px-lg-5">
                    <div class="d-flex justify-content-end justify-content-lg-start">
                      <a href="/blog/2019/case-study-db-systel-gmbh/" class="btn btn-link">
                        Read the Case Study
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- Controls -->
        <button type="button" class="carousel-control-prev" data-action="carousel-slide#prev"><i class="fa fa-arrow-left"></i></button>
        <button type="button" class="carousel-control-next" data-action="carousel-slide#next"><i class="fa fa-arrow-right"></i></button>
      </div>

      <!-- Indicators -->
      <div class="carousel-indicators d-flex justify-content-center align-items-baseline py-5">

        <!-- CMiC -->
        <a
          href="#"
          class="mx-3 mx-lg-5"
          data-action="carousel-slide#to"
          data-carousel-slide-index="0"
          data-target="carousel-slide.indicator"
        >
          <img
            src="/images/shared/placeholder.gif"
            data-src="/images/home/logo-cmic-color.svg"
            alt=""
            class="img-fluid lazyload"
            loading="lazy"
            width="81"
          />
        </a>

        <!-- DocuSign -->
        <a
          href="#"
          class="mx-3 mx-lg-5"
          data-action="carousel-slide#to"
          data-carousel-slide-index="1"
          data-target="carousel-slide.indicator"
        >
          <img
            src="/images/shared/placeholder.gif"
            data-src="/images/home/logo-docusign-color.svg"
            alt=""
            class="img-fluid lazyload"
            loading="lazy"
            width="155"
          />
        </a>

        <!-- Scanbot -->
        <a
          href="#"
          class="mx-3 mx-lg-5"
          data-action="carousel-slide#to"
          data-carousel-slide-index="2"
          data-target="carousel-slide.indicator"
        >
          <img
            src="/images/shared/placeholder.gif"
            data-src="/images/home/logo-scanbot-color.svg"
            alt=""
            class="img-fluid lazyload"
            loading="lazy"
            width="115"
          />
        </a>

        <!-- DB Systel -->
        <a
          href="#"
          class="mx-3 mx-lg-5"
          data-action="carousel-slide#to"
          data-carousel-slide-index="3"
          data-target="carousel-slide.indicator"
        >
          <img
            src="/images/shared/placeholder.gif"
            data-src="/images/home/logo-db-systel-color.svg"
            alt=""
            class="img-fluid lazyload"
            loading="lazy"
            width="190"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Get Started -->
<section class="bg-neutral-dark py-5 py-lg-8">
  <div class="container">
    <div class="row align-items-center pb-5 pb-xl-6 px-xl-6">
      <div class="col-md-6">
        <h2 class="m-0 mb-1">
          Ready to get started?
        </h2>
        <p class="mb-4 mb-md-0">
          Download our trial or get in touch.
        </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-6">
            <a href="/try" class="btn btn-block btn-brand sh-1 mb-4">
              Download Trial
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/sales" class="btn btn-block btn-secondary mb-md-4 sh-1">
              Contact Sales
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Demo CTA -->
    <%= partial 'shared/cta_demo' %>
  </div>
</section>
