---
title: PSPDFKit for Windows – UWP PDF SDK
title_suffix: false
description: Gain comprehensive API access to build advanced workflows into your UWP apps.
platform: windows
section: sdk
header: false
secret: true
hide_from_sitemap: true
---

<%= partial 'nav_sub' %>

<!--Lead-->
<%= partial '../shared/lead', locals: {
  title: "Windows PDF SDK for UWP Apps",
  body: "We offer an advanced drop-in solution for your UWP apps to add powerful PDF capabilities.
        Easily add annotations, ink signatures, and forms handling support for PDFs."
}%>

<!-- Hero -->
<%= partial 'hero', locals: {
  title: "What is PSPDFKit for Windows?",
  title_class: 'h4',
  subtitle: "",
  body: "
    PSPDFKit for Windows is our drop-in solution for your UWP apps
    that enables your users to view, edit, and collaborate
    on PDF documents. Let us do the heavy lifting so that you can:

      * Let your developers focus on making the best app
      * Give your users access to powerful PDF features
      * Give your users the best UX in the market
  ",
} %>

<!-- Customers -->
<%= partial 'shared/customers' %>

<!-- Headlines -->
<%= partial '../shared/headlines', locals: {
  items: [
    {
      title: "Powerful Features",
      icon: "/images/icons/customizable.svg",
      body: "
        PDF rendering, navigation, searching, annotation, and form filling capabilities.
      ",
    },
    {
      title: "Easy to Integrate",
      icon: "/images/icons/documentation.svg",
      body: "
        Packaged as a native UWP PDF library component for easy integration with your app.
      ",
    },
    {
      title: "Drop-In UI",
      icon: "/images/icons/ui.svg",
      body: "
        A fluid, adaptable UI based on fast Edge web technology, ready to go out of the box.
      ",
    },
  ]
} %>

<!-- UI -->
<%= partial '../shared/ui', locals: {
  title: "Features",
  body: "Seamlessly integrate these PDF features into your Windows apps:",
} %>

<!-- Features -->
<%= partial 'shared/product_features', locals: {
  items: [
    {
      title: "PDF Viewing",
      icon: "/images/pdf-sdk/windows/view.svg",
      icon_size: 20,
      image: "/images/pdf-sdk/windows/view.png?v=1",
      body: "A fast and smooth viewing experience — even with large documents.
      Supports both single- and double-page layouts and page rotation.
      Intuitive document navigation via scrolling, pagination, pan, and zoom.",
    },
    {
      title: "Forms",
      icon: "/images/pdf-sdk/windows/forms.svg",
      image: "/images/pdf-sdk/windows/forms.png",
      body: "Full support for PDF AcroForms, so your users can view, fill out, and submit forms with
      ease.",
    },
    {
      title: "Highlight Text",
      icon: "/images/pdf-sdk/windows/highlight.svg",
      image: "/images/pdf-sdk/windows/highlight.png",
      body: "Easily mark up text on a document via an intuitive highlight menu
      with support for highlighting, strikethrough, and underlining.",
    },
    {
      title: "Freehand Drawing",
      icon: "/images/pdf-sdk/windows/ink.svg",
      image: "/images/pdf-sdk/windows/ink.png",
      body: "Draw anywhere on a document. Move and resize, and change appearance —
      including color, thickness, and opacity."
    },
    {
      title: "Text Annotation",
      icon: "/images/pdf-sdk/windows/text.svg",
      image: "/images/pdf-sdk/windows/text.png",
      body: "Add text anywhere on a document. Move and resize, and change appearance –
      including font, size, alignment, and color.",
    },
    {
      title: "Note Annotation",
      icon: "/images/pdf-sdk/windows/note.svg",
      image: "/images/pdf-sdk/windows/note.png",
      body: "Add longer comments, which can be collapsed or expanded, to a document.
      Change appearance with a variety of shapes and colors.",
    },
    {
      title: "Stamp Annotations",
      icon: "/images/pdf-sdk/windows/stamp.svg",
      image: "/images/pdf-sdk/windows/stamp.png",
      body: "
        Place stamps on a PDF with our predefined stamp templates, or let your users
        create their own using the stamp annotation builder UI. Easily swap out the
        default stamp templates with your own.
      ",
      new: true
    },
    {
      title: "Search",
      icon: "/images/pdf-sdk/windows/search.svg",
      image: "/images/pdf-sdk/windows/search.png",
      body: "Quickly search documents with a fluid and fast search experience, including intuitive
      keyboard shortcuts for power users.",
    },
    {
      title: "Mouse and Touch",
      icon: "/images/pdf-sdk/windows/mouse-touch.svg",
      image: "/images/pdf-sdk/windows/mouse-touch.png",
      body: "Handles input via mouse, keyboard, and touch to support a wide range of use cases and
      devices.",
    },
    {
      title: "Sidebar",
      icon: "/images/pdf-sdk/windows/sidebar.svg",
      image: "/images/pdf-sdk/windows/sidebar.png",
      body: "
      Choose from four sidebar options — Thumbnails, Outline, Annotations, or
      Bookmarks — to get an overview of the content in a document. Show and hide
      the sidebar at any time, resize it, or expand it into a full gallery view.
      ",
      new: true
    },
    {
      title: "Printing",
      icon: "/images/pdf-sdk/windows/print.svg",
      image: "/images/pdf-sdk/windows/print.png",
      body: "Print and export documents, including all annotations. Use the system print dialog to
      allow for full control of the output.",
    },
  ]
} %>

<!-- Additional Features -->
<%= partial '../shared/additional_features', locals: {
  title: "Additional Features",
  body: "
    In addition to the UI layer, the <strong>PSPDFKit for Windows UWP PDF Library</strong> provides
    comprehensive API access for building advanced PDF workflows into your application.
  ",
} %>


<!-- Architecture -->
<%= partial '../shared/architecture', locals: {
  title: "Architecture",
  subtitle: "Web UI, Native Speed",
  body: "
    <strong>PSPDFKit for Windows</strong> offers the best of both worlds — the speed and stability
    of our C++ PSPDFKit Core running natively, and the flexibility and features of our Web SDK UI.
  ",
} %>

<!-- Integration -->
<%= partial '../shared/integration', locals: {
  title: "Integration",
  body: "
    <strong>PSPDFKit for Windows</strong> can be integrated with just a few lines of code, and
    <a href='/api/windows/' class='link-brand'>it comes with a rich API</a>, which allows for
    complete customization.
  ",
} %>

<!-- Sales CTA -->
<%= partial 'shared/cta_sales', locals: { id: 'get-started' } %>
