---
title: Digital Signatures
title_suffix: PSPDFKit for Android
platform: android
section: sdk
---

<%= partial 'shared/nav_sub' %>

<!-- Videos -->
<%= partial 'shared/product_videos', locals: {
  title: "PDF Digital Signatures",
  subtitle: "PSPDFKit for Android",
  body: "A digital signature is an electronic fingerprint, uniquely identifying the signing person. <a href='/guides/android/current/features/digital-signatures/' class='link-brand'>Learn more about this feature in our guides.</a>",
  items: [
    {
      title: 'Digital Signatures',
      url: '/images/pdf-sdk/android/digital-signatures/digital-signatures.mp4'
    }
  ]
} %>

<!-- Documentation -->
<%= partial 'shared/product_documentation', locals: {
  title: 'Digital Signatures',
  url: '/guides/android/current/features/digital-signatures/'
} %>

<!-- Try PDF Viewer -->
<%= partial 'shared/product_try_viewer', locals: {
  image: '/images/pdf-sdk/android/viewer/try.png',
  device: 'phone_android'
} %>

<!-- Sales CTA -->
<%= partial 'shared/cta_sales', locals: { title: 'PSPDFKit for Android' } %>
