<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h4 mb-5">
          <%= title %>
        </h2>
      </div>
      <% items.each do |item| %>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-start">
            <img src="<%= item[:icon] %>" width="50" height="50">
            <div class="ml-3 medium">
              <h2 class="h5 mt-0">
                <%= item[:title] %>
              </h2>
              <p class="mb-1">
                <%= item[:body] %>
              </p>
              <p>
                <a href="<%= item[:link_url] %>" class="link-brand"><%= item[:link_text] %></a>
                <i class="fa fa-arrow-right"></i>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
</section>
