<hr class="my-5">
<section id="integration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9">

        <!-- Header -->
        <header class="text-center mb-5">
          <h6 class="text-brand mb-1"><%= subtitle %></h6>
          <h2><%= title %></h2>
          <p><%= body %></p>
        </header>

        <!-- Tabs -->
        <div class="nav-btn-group justify-content-center mb-5">
          <nav class="nav justify-content-center mb-4">
            <button type="button" class="nav-item nav-link active" data-toggle="tab" href="#tab-basic">
              Basic <span class="d-none d-lg-inline-block">Example</span>
            </button>
            <button type="button" class="nav-item nav-link" data-toggle="tab" href="#tab-toolbar">
              <span class="d-none d-lg-inline-block">Custom</span> Toolbar
            </button>
            <button type="button" class="nav-item nav-link" data-toggle="tab" href="#tab-annotation">
              <span class="d-none d-lg-inline-block">Create</span> Annotation
            </button>
          </nav>
        </div>

        <!-- Code -->
        <div class="card card-lg mb-4">
          <div class="card-body bg-light p-0">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-basic">
                <%= partial 'pdf-sdk/web/shared/example_basic.md' %>
              </div>
              <div class="tab-pane" id="tab-toolbar">
                <%= partial 'pdf-sdk/web/shared/example_toolbar.md' %>
              </div>
              <div class="tab-pane" id="tab-annotation">
                <%= partial 'pdf-sdk/web/shared/example_annotation.md' %>
              </div>
            </div>
          </div>
        </div>

        <!-- Guides / API -->
        <p class="text-muted text-center mb-5">
          Check out our
          <a href="https://github.com/PSPDFKit/pspdfkit-electron-example">example project</a>,
          <a href="/guides/web/current/pspdfkit-for-electron/getting-started">guides</a> and
          <a href="/api/web">API docs</a> for more details.
        </p>
      </div>
    </div>
  </div>
</section>
